src/test/resources/custom/custom.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.hiccup.top/schema/custom"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.hiccup.top/schema/custom">

	<!-- Top-level <user> tag -->
	<xsd:element name="user">
		<xsd:complexType>
			 <xsd:attribute name="id" type="xsd:string" />
			 <xsd:attribute name="name" type="xsd:string" />
			 <xsd:attribute name="age" use="optional" type="xsd:string" />
		</xsd:complexType>
  </xsd:element>

</xsd:schema>
